---
import Layout from "~/components/layout.astro";
import { sponsors } from "~/lib/sponsors";
---

<Layout title="Спонсоры" description="Список спонсоров Aphb">
  <div
    class="col-span-full bg-primary-900 p-3 lg:p-6 text-3xl lg:text-8xl font-bold rounded-xl lg:rounded-3xl relative overflow-clip my-5 lg:my-20"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1431 157"
      fill="none"
      class="absolute inset-0 h-full lg:h-auto"
    >
      <path
        d="M693.47 152.008L-45.5 15.5M693.47 152.008L230.5 -67.5M693.47 152.008L546.001 -33.9992M693.47 152.008L808.001 -33.9992M693.47 152.008L1084.5 -67.5M693.47 152.008L1461.5 15.5M693.47 152.008L1470.5 152.008M693.47 152.008L-134.001 139.5"
        stroke="#163BA4"
        stroke-width="64"
        class=""></path>
    </svg>
    <h1 class="relative text-white text-center">Наши спонсора</h1>
  </div>
  <div
    class="grid md:grid-cols-4 grid-cols-2 col-span-full gap-y-5 gap-x-3 md:gap-y-6 md:gap-x-16"
  >
    {
      sponsors
        .sort((a, b) => a.title.length - b.title.length)
        .map((sponsor) => (
          <a
            class="md:text-xl  hover:text-blue-500 duration-200"
            href={sponsor.url}
          >
            {sponsor.title}
          </a>
        ))
    }
  </div>

  <div class="mb-32"></div>
</Layout>

<script>
  // import { gsap } from "gsap";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);
  gsap.utils.toArray(".member div").forEach((member) => {
    gsap.from(member as any, {
      scrollTrigger: {
        trigger: member as any,
        toggleActions: "restart none none none",
      },
      y: "100%",
      ease: "power4.out",
    });
  });
</script>
